 /*BEGIN CSS FOR ROUNDTRIP TESTING*/
#search_div {
	width: 80%;
	background-color: gray;
	margin: auto;
}

#departure-section {
	float: left;
	border: solid white;
	width: 30%;
	background-color: white;
	margin-left: 5%;
}

#destination-section {
	border: solid white;
	width: 30%;
	margin-left: 40%;
	background-color: white;
}

#date-selection {
	margin-top: 10px;
}

#departure-date-selection {
	float: left;
	border: solid white;
	width: 30%;
	background-color: white;
	margin-left: 5%;
}

#return-date-selection {
	border: solid white;
	width: 30%;
	margin-left: 40%;
	background-color: white;
}

#flight-search-button-div {
	margin-top: 20px;
	margin-left: 5%;
}

#airport-selection {
	height: 400px;
	border: solid red;
}

.departure-result-list {
	border: solid black;
	height: 270px;
	overflow: scroll;
}

.destination-result-list {
	border: solid black;
	height: 270px;
	overflow: scroll;
}

.destination-list-item {
	margin-left: 20px;
	margin-right: 20px;
	border: solid black;
}

.departure-list-item {
	margin-left: 20px;
	margin-right: 20px;
	border: solid black;
}

.selectedDepartureItem {
	background-color: #add8e6;
}

.selectedDestinationItem {
	background-color: #add8e6;
}

.departureInstanceDisplay {
	border: solid black;
}

#FlightHolder{
	overflow-y: scroll;
    height: 300px;
}
