 /*BEGIN CSS FOR ROUNDTRIP TESTING*/
#search_div {
	width: 80%;
	margin: auto;
	position: relative;
	top: 50px;
	background-color: #011f4b;
}

#singletrip_title{
	bottom: 450px;
	text-align: center;
	
}

#roundtrip_title{
	bottom: 450px;
	text-align: center;
	
}
#departure-section {
	float: left;
	border: solid white;
	width: 30%;
	background-color: white;
	margin-left: 5%;
}

#departure-input{
	position:relative;
	left: 100px;
	bottom: 10px;
}
#destination-input{
	position: relative;
	left: 100px;
	bottom: 10px;
}
#destination-section {
	border: solid white;
	width: 30%;
	margin-left: 40%;
	background-color: white;
	
}

#date-selection {
	margin-top: 10px;
	
}

#map{
	height: 100%; 
}

#departure-date-selection {
	float: right;
	border: solid white;
	width: 25%;
	background-color: white;
	right: 20px;
	position: relative;
	bottom: 410px;
}

#flight-search-button{
	float: right;
	left: 180px;
	bottom: 100px;
	width: 100px;
	height: 50px;
	position: relative;
	font-size: 15px;
}
#return-date-selection {
	float: right;
	border: solid white;
	width: 25%;
	left: 285px;
	position: relative;
	bottom: 280px;
	background-color: white;
}


#airport-selection {
	height: 400px;
	border: solid black;
	border-style: solid;
}

.departure-result-list {
	border: solid black;
	height: 270px;
	overflow: scroll;
}

.destination-result-list {
	border: solid black;
	height: 270px;
	overflow: scroll;
}

.destination-list-item {
	margin-left: 20px;
	margin-right: 20px;
	border: solid black;
}

.departure-list-item {
	margin-left: 20px;
	margin-right: 20px;
	border: solid black;
}

.selectedDepartureItem {
	background-color: #add8e6;
}

.selectedDestinationItem {
	background-color: #add8e6;
}

.departureInstanceDisplay {
	border: solid black;
}

#FlightHolder{
	overflow-y: scroll;
    height: 300px;
}

/*Login*/
#planegif{
	height: 30%;
	
	width: 30%;
	position: relative;
	display: block;
	bottom: 220px;
	margin-left: auto;
	margin-right: auto;
}
h1{
	text-align:center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: #CDEAF8;
}


#login_div{
    padding-bottom: 50px;
	padding-top: 10px;
	position: relative;
	top: 300px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	background-size: auto;
	width: 70%;
	height: 100%;
	margin: auto;
	z-index: 100;
}

#login_btn{
	background-color:#00d2ff; 
	color: black;
	position: relative;
    width: 80px;
    height: 50px;
	right: 50px;
	border: hidden;
	top: 10px;
	font-size: 15px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#create_user_btn{
	background-color: #00d2ff;
	color: black;
	position: relative;
	width: 80px;
	border: hidden;
    height: 50px;
	bottom: 40px;
	left: 40px;
	font-size: 15px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*Home Page*/
#logout{
	float: right;
	width: 80px;
	height: 50px;
	position: relative;
	right: 10px;
	font-size: 18px;
	background-color: white;
	border-radius: 25px;
	border: 1px solid black;
}

#logout:hover{
	background-color:#005b96;
}

#singleBtn{
	background-color: #005b96;
	border: hidden;
  	color: white;
	border-right: 1px solid black;
    width: 200px;
    height: 100px;
    font-size: 17px;
}

#singleBtn:hover{
	background-color: #6497b1;
	color: white;
}
#roundBtn{
	background-color: #005b96;
	border: hidden;
	color: white;
	border-right: 1px solid black;
	
    width: 200px;
	height: 100px;
	position: relative;
	left: 20px;
    font-size: 17px;
}

#roundBtn:hover{
	background-color: #6497b1;
	color: white;
}



#itenerary{
	background-color: #005b96;
	border: hidden;
	border-right: 1px solid black;
	color: white;

    width: 200px;
	height: 100px;
	position: relative;
	left: 35px;
	font-size: 17px;
}

#itenerary:hover{
	background-color: #6497b1;
	color: white;
}

.buttonDiv{
	padding-bottom: 20px;
	height: 80px;
	background-color:#005b96;
    padding-top: 0px;
	border-style: dashed;
	font-family: Arial, Helvetica, sans-serif;

}

p1{
	font-size: 22px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
	font-size: 20px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: bold;
	position: relative;
	bottom: 50px;
}

